#join-room-area{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;  
  align-items: center;
  justify-content: center;
}

.input-participant-details{
  width: 70%;
}

#join-room-form{
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40vh;
    height: 40vh;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.336), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:gainsboro;
    border-radius: 2% 4%;
}

#chat-submit-button{
    width: fit-content;
    height: fit-content;
    padding: 4%;
    font-family: inherit;
    font-size: large;
    border: none;
    border-radius: 5% / 10%;
    background-color: rgb(196, 189, 189);
}
#chat-submit-button:focus{
  outline: none;
}
@media only screen and (max-height:4in)and (orientation:landscape){
  #chat-submit-button,#join-room-form{
    font-size: small;
  }
}

