#input-area{
    height: 8vh;
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: gainsboro;
    align-content: space-around;
    justify-content: space-around;
    align-items: center; 
}


/* #buttons{
    display: flex;
    flex-direction: row;
    margin: 0.3%;
}
 */
#input-msg-field{
    width: 80%;
    height: 70%;
    flex-grow: 2;
    margin-left: 1%;
    margin-right:0.5%;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2%;
}
#input-msg-field:focus{
    outline: none;
}

/* #location-button{
    justify-items: center;
    border-radius: 10%;
    height: 100%;
    border: 0px;
    margin: 1%;
} */

#location-icon,#send-icon{
    width: 50%;
    height: 50%;
    fill:currentColor;
}

#send-button,#location-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:35px;
    width: 35px;
    border-radius: 50%;
    margin-top: 0.2%;
    margin-left: 1%;
    margin-right: 0.5%;
    border: 0.1px solid black;
    font-size: large;
}
